@font-face {
    font-family: "chusaLove";
    font-weight: 400;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/chusaLove/chusaLove-Regular.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/chusaLove/chusaLove-Regular.ttf") format("truetype");
    font-display: swap;
}
@font-face {
    font-family: "chusaLove";
    font-weight: 700;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/chusaLove/chusaLove-Bold.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/chusaLove/chusaLove-Bold.ttf") format("truetype");
    font-display: swap;
}
.chusaLove {
    font-family: "chusaLove";
}
.chusaLove400 {
    font-family: "chusaLove";
    font-weight: 400;
}
.chusaLove700 {
    font-family: "chusaLove";
    font-weight: 700;
}